.navbar-default{
    background-color: white;
    border: none;
}

.navbar-brand{
    font-size: 30px;
}

.navbar .btn-default{
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-default .container{
    border-bottom: 2px solid #5e5e5e;
}
.col-lg-12.pnf{
    padding-left: 0;
}
.btn-default.pnf{
    background-color: #DDE2E3;
    color: #72747A;
}
.btn-default.pnf:hover{
    background-color:#D1D9DC;
}

thead.pnf{
    background-color:#DDE2E3;
    color: #72747A;
}
.table>tbody>tr>td, .table>tbody>tr>th,
.table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th{
    border: 1px solid #72747A !important;
    vertical-align: middle;
}
table.fit, table.fit td, table.fit th{
    white-space: nowrap;
    width: 1%;
    min-width: 100px;
}
.table > thead > tr._deleted > td,
.table > tbody > tr._deleted > td,
.table > tfoot > tr._deleted > td{
    background-color: #C4D0D9;
    text-decoration: line-through;
}

table>tfoot.emptyCelled tr, table>tfoot.emptyCelled td[colspan] {
    border: none !important;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
footer {
    margin: 50px 0;
}
.form-inline{
    margin-top: 30px;
}

.form-horizontal.pnf label{
    text-align: left;
}
#msg{
    margin-top: 60px;
}
.holder{
    display: none;
}


/*admin page*/
.admin_page td button:first-child{
    margin-bottom: 5px;
}
.admin_page select.form-control.xs{
    height: auto;
    font-size: 12px;
    padding: 4px 10px;
}
/*order page*/
.order_page .form-group span{
    display: none;
}
.order_page .form-group.has-feedback.has-error span,
.order_page .form-group.has-feedback.has-success span.glyphicon-ok{
    display: block;
}
form.pnf_inline{
    display: inline-block !important;
}
a.inline{
    display: inline-block;
}